*{
    color:white;
    margin: 0;
    padding: 0;
}
button{
    background-color:yellow;
}
#logo{
    font-size: 25px;
    color: yellow;
}
a{
    margin-right:25px;
    text-decoration: none;
}
#navbar{
    height:60px;
    background-color: black;
    border:20px solid yellow;
}