.main{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-columns: repeat(3,1fr);
     grid-template-columns: repeat(3,1fr);
}
.card{
    border:2px solid black;
    box-shadow:2px 2px 5px black;
    padding:5px;
    margin:10px;
    width:400px;
    height:400px;
    border-radius:5%;
   
}
.card:hover{
    border:2px solid black;
}
.card-image{
    height:200px;
    width:300px;
    border-radius:10%;
    box-shadow:2px 2px 5px black;
    border:2px solid black;
}
.card-image:active{
    border:4px solid black;
}
.price-original{
    text-decoration: line-through;
}
.card-button{
    width:100px;
    height:30px;
    background-color: black;
    color: white;
    text-align:center;
}
.card-button:hover{
    background-color:rgb(171, 28, 28);
}
.price-sale{
    color:rgb(133, 79, 184);
    font-size: 30px;
}

.card-content{
    padding:20px;
    width:400px;
    height:350px;
}
.card-badge{
    text-align:center;
    padding:10px 10px;
    background:palevioletred;
    color:black;
    border:2px solid black;
    border-radius:20%;
    position:absolute;
    left:350px;
    
} 
@media(min-width:200px){
    .main{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(min-width:500px){
    .main{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:600px){
    .main{
        grid-template-columns: repeat(3,1fr);
    }
}
